* {
  font-family: "Libre Franklin", sans-serif;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 20px;
}
:root {
  --blue: hsl(223, 87%, 63%);
  --paleblue: hsl(223, 100%, 88%);
  --lightred: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --verydarkblue: hsl(209, 33%, 12%);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main {
  margin: 0 auto;
  width: 40%;
}
.topcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.topcontainer img {
  margin: 12px 0px 12px 0px;
}
.featured_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
/* We are Launching Soon Text */
span {
  font-weight: lighter;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--gray);
}
.featured_text h1 {
  margin: 12px 0px 12px 0px;
  font-weight: 600;
  color: #000000;
  font-size: 1.8rem;
  line-height: 2rem;
}
.featured_text p {
  margin: 0px 0px 12px 0px;
  font-size: 0.8rem;
}
form {
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.8rem;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
  width: 145px;
  height: 2rem;
  font-size: 0.7rem;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
button:hover {
  opacity: 0.8;
}
#field {
  border-radius: 1rem;
  border: 1px solid var(--gray);
  width: 330px;
  height: 2rem;
}
input {
  border: none;
  outline: none;
  background: none;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  width: 100%;
  height: 100%;
  padding: 8px 0px 8px 24px;
}
::placeholder {
  color: var(--paleblue);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
}
#errortext {
  color: var(--lightred);
  font-size: 0.6rem;
  font-style: italic;
  margin-left: 12px;
  display: none;
}
.featured {
  margin-top: 40px;
}
img {
  max-width: 100%;
}

/* Social Icons */
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
a {
  text-decoration: none;
}
.fab {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fab:hover {
  background-color: var(--blue);
  color: #fff;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  color: var(--blue);
  opacity: 1;
  font-size: 1.1rem;
}
/* Footer Text */
.footertext {
  font-size: 0.7rem;
  color: var(--gray);
  text-align: center;
  margin-top: 20px;
}
/* Footer */
footer {
  margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
  main {
    width: 85%;
  }
  span {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .featured_text h1 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .featured_text p {
    margin: 7px 0px 7px 0px;
    font-size: 0.7rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 100%;
    margin-top: 40px;
    font-size: 0.7rem;
  }
  .subscribe {
    width: 100%;
  }
  #field {
    width: 100%;
  }
  #errortext {
    text-align: center;
  }
  .featured {
    margin-top: 40px;
  }
  img {
    max-width: 100%;
  }
  .social {
    margin-top: 60px;
  }
  .footertext {
    margin-top: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  main {
    width: 85%;
  }
  span {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .featured_text h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .featured_text p {
    margin: 7px 0px 7px 0px;
    font-size: 0.8rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 100%;
    margin-top: 40px;
    font-size: 0.7rem;
  }
  .subscribe {
    width: 100%;
  }
  #field {
    width: 100%;
  }
  #errortext {
    text-align: center;
  }
  .featured {
    margin-top: 40px;
  }
  img {
    max-width: 100%;
  }
  .social {
    margin-top: 60px;
  }
  .footertext {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    width: 55%;
  }
  span {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .featured_text h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .featured_text p {
    margin: 7px 0px 7px 0px;
    font-size: 0.8rem;
  }
}
